.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  box-shadow: 0 4px 18px 0 rgba(201, 168, 146, 0.09),
    0 1.5px 6px 0 rgba(60, 53, 50, 0.04);
  animation: navbarFadeIn 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  background: #fff;
}
.navbar_container {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  height: 64px;
}



.navbar_brand span {
  color: #c9a892;
  font-weight: 700;
  margin-left: 2px;
}

.navbar_links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 0;
  padding: 0;
}

.navbar_links li a {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  padding: 4px 0;
  position: relative;
}

.navbar_links li a.active,
.navbar_links li a:hover {
  color: #c9a892;
  transition: 0.3s;
}
.navbar_scroll {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding-top: 32px;
}
.navbar_container_scroll {
  box-shadow: 0 4px 18px 0 rgba(201, 168, 146, 0.09),
    0 1.5px 6px 0 rgba(60, 53, 50, 0.04);
  animation: navbarFadeIn 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  background: #fff;
  margin: auto;
  border-radius: 8px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  height: 64px;
}
@keyframes navbarFadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
